{% extends "menu.html" %}

{% block content %}

<h1>K-Means Clustering</h1>

<h2>Cluster Summary</h2>
<ul>
    {% for key, value in summary.items() %}
        <li>Cluster {{ key }}: {{ value }} users</li>
    {% endfor %}
</ul>

<h2>Visualization</h2>
<img src="{{ url_for('static', filename='clusters.png') }}" class="img-fluid">

<h2>Data Table</h2>
<table class="table">
    <tr>
        <th>Age</th>
        <th>Salary</th>
        <th>Cluster</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row.Age }}</td>
        <td>{{ row.EstimatedSalary }}</td>
        <td>{{ row.Cluster }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}v